.u-mb-min {
  margin-bottom: 1rem !important;
}
.u-mb-med {
  margin-bottom: 2.5rem !important;
}

.u-ta-c {
  text-align: center !important;
}

.u-width-50 {
  width: 50% !important;
}

.u-m-2rem {
  margin: 2rem !important;
}
